.awards-section .awards-card {
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--light-gray-color);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.awards-section .awards-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.awards-section .awards-card .card-image {
    height: 320px;
    background-color: var(--soft-white);
    padding: 2rem;
}