/* Board Members Section */
.board-members-section .board-accordion-card {
    border: 1px solid var(--light-gray-color);
    border-radius: var(--main-border-radius);
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.board-members-section .board-accordion-card:last-child {
    margin-bottom: 0;
}

.board-members-section .board-accordion-card .accordion-button::after {
    filter: brightness(0) saturate(100%) invert(23%) sepia(67%) saturate(5673%) hue-rotate(153deg) brightness(100%) contrast(101%);
    background-image: url("../assets/images/caretdown.svg");
}

.arabic-version .board-members-section .board-accordion-card .accordion-button::after {
    margin-right: auto;
    margin-left: unset;
}

.board-members-section .board-accordion-card .accordion-button {
    background-color: var(--soft-white) !important;
}

.board-members-section .board-accordion-card .accordion-button:hover {
    background-color: var(--light-gray-color) !important;
}

.board-members-section .board-accordion-card .accordion-button:not(.collapsed) {
    color: var(--secondary-color);
    background-color: var(--soft-white);
    box-shadow: none;
}

.board-members-section .board-accordion-card .accordion-body .card {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.board-members-section .board-accordion-card .accordion-body .card:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}