/* Work With Us Section */
.work-with-us-section .work-with-us-card .card-icon-container {
    width: 4rem;
    height: 4rem;
}

.work-with-us-section .work-with-us-card .card-icon-container svg {
    width: 2rem;
    height: 2rem;
}

/* Current Openings Section */
.current-openings-section #job-listings .job-card {
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.current-openings-section #job-listings .job-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.current-openings-section .job-card .job-card-content {
    flex: 1 1 0%;
}

.current-openings-section .job-card .job-card-content .card-icons-container svg {
    width: 1rem;
    height: 1rem;
}