.reports-section .reports-card {
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--light-gray-color);
    transition: all 0.2s ease-in-out;
}

.reports-section .reports-card:hover {
    border-color: var(--primary-color);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.reports-section .reports-card .icon-container {
    width: 5rem;
    height: 5rem;
}

.reports-section .reports-card .icon-container svg {
    width: 2.5rem;
    height: 2.5rem;
}