:root {
    --primary-color: #008c4c;
    --secondary-color: #545454;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--black-color);
    font-family: var(--main-font-family);
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

html,
body,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--line-height);
    font-feature-settings: "liga" 1, "kern" 0;
}

.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0px;
}

.arabic-version {
    direction: rtl;
}

@media (min-width: 2029.98px) {
    :root {
        --container-width: 80vw;
    }

    html {
        font-size: 18px;
    }
}

@media (min-width: 1599.98px) and (max-width: 2029.98px) {
    :root {
        --container-width: 80vw;
    }

    html {
        font-size: 17px;
    }
}

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
    :root {
        --container-width: 1140px;
    }
}

@media (max-width:1199.98px) {
    :root {
        --container-width: 960px;
    }

    html {
        font-size: 15px;
    }
}

@media (max-width:991.98px) {
    :root {
        --container-width: 720px;
    }

    html {
        font-size: 15px;
    }
}

@media (max-width:767.98px) {
    :root {
        --container-width: 540px;
    }

}

@media (max-width:575.98px) {
    :root {
        --container-width: 100vw;
    }

}

@media (min-width: 1599.98px) {

    .container,
    .container-fluid {
        max-width: 80%;
    }

    .container .container,
    .container .container-fluid,
    .container-fluid .container,
    .container-fluid .container-fluid {
        max-width: 100%;
    }
}

.arabic-version .lucide-chevron-left,
.arabic-version .lucide-chevron-right,
.arabic-version .lucide-arrow-right,
.arabic-version .lucide-arrow-left {
    transform: scaleX(-1);
}

/* Webkit box  */
.only-1-lines {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1* var(--line-height) + 2px);
}

.only-2-lines {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(2* var(--line-height) + 2px);
}

.only-3-lines {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(3* var(--line-height) + 2px);
}

.only-4-lines {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(4* var(--line-height) + 2px);
}

/* Image classes */
.default-image-class {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.cover-image-class {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Swiper Custom Styling */

.swiper-slide {
    height: auto !important;
}

.swiper-pagination {
    position: relative;
}

.swiper-pagination span {
    background-color: var(--primary-color);
    width: 0.7rem;
    height: 0.7rem;
}

.swiper-button-prev {
    left: -0.5rem !important;
}

.swiper-button-next {
    right: -0.5rem !important;
}

.arabic-version .swiper-button-prev {
    right: -0.5rem !important;
    left: auto !important;
}

.arabic-version .swiper-button-next {
    left: -0.5rem !important;
    right: auto !important;
}

@media (min-width: 1024px) {
    .swiper-button-prev {
        left: -2.5rem !important;
    }

    .swiper-button-next {
        right: -2.5rem !important;
    }

    .arabic-version .swiper-button-prev {
        right: -2.5rem !important;
        left: auto !important;
    } 

    .arabic-version .swiper-button-next {
        left: -2.5rem !important;
        right: auto !important;
    }
}

.arabic-version .swiper-button-prev svg,
.arabic-version .swiper-button-next svg {
    transform: scaleX(-1);
}
